@page "/car"
@inject ICarWizardViewModel CarWizardViewModel

<div class="car-wizard__grid-container">
    <div class="car-wizard__progress-area">
        @foreach (var WizardStep in CarWizardViewModel.WizardSteps)
        {
            if (WizardStep.StepNumber == CarWizardViewModel.ActiveStep.StepNumber)
            {
                <div class="card-wizard__progress-area__progress-item_active">
                    @WizardStep.StepName
                </div>
            }
            else if (WizardStep.Completed)
            {
                <div class="card-wizard__progress-area__progress-item_completed">
                    @WizardStep.StepName
                </div>
            }
            else
            {
                <div class="card-wizard__progress-area__progress-item">
                    @WizardStep.StepName
                </div>
            }
        }
    </div>

    <div class="car-wizard__form-area">
        <form class="car-wizard_form-area__form">
            @switch (CarWizardViewModel.ActiveStep.StepNumber)
            {
                case 1:
                    <div class="car-wizard__car_selection_area">
                        @* TODO: Make this overflow hidden
                            with a draggable scroll feature.
                            Will prob need JSInterop for it.
                        *@
                        <div class="car-wizard__car_selection_area__list">
                            @foreach (var Car in CarWizardViewModel.Cars)
                            {
                                <div class="car-wizard__car_selection_area__list__item"
                                     @onclick="(e => CarWizardViewModel.HandleVehicleSelect(Car))">
                                    @Car.Make.ToUpper()
                                </div>
                            }
                        </div>
                        <div class="car-wizard__car_selection_area__add-car-button">
                            <div class="car-wizard__car_selection_area__add-car-button-title">
                                ADD CAR
                            </div>
                        </div>
                    </div>
                    break;
                case 2:
                    <div>
                        Form 2
                    </div>
                    break;
                case 3:
                    <div>
                        Form 3
                    </div>
                    break;
                case 4:
                    <div>
                        Form 4
                    </div>
                    break;
                default:
                    <div>
                        Error
                    </div>
                    break;
            }
        </form>
    </div>
    <div class="car-wizard__form-area__button-group">
        @if (CarWizardViewModel.ActiveStep.StepNumber == 1)
        {
            <div class="wizard-next-button" @onclick="CarWizardViewModel.GoToNextStep">
                Next
            </div>
        }
        else if (CarWizardViewModel.ActiveStep.StepNumber >= 1
            && CarWizardViewModel.ActiveStep.StepNumber < CarWizardViewModel.WizardSteps.Count)
        {
            <div class="wizard-prev-button" @onclick="CarWizardViewModel.GoToPreviousStep">
                Previous
            </div>
            <div class="wizard-next-button" @onclick="CarWizardViewModel.GoToNextStep">
                Next
            </div>
        }
        else
        {
            <div class="wizard-prev-button" @onclick="CarWizardViewModel.GoToPreviousStep">
                Previous
            </div>
            <div class="wizard-submit-button" @onclick="CarWizardViewModel.HandleSubmit">
                Submit
            </div>
        }
    </div>
</div>

