@page "/"

<h2>LifeManager</h2>

<div class="main__grid-container__cards">
    <div class="cards__grid-item">
        <i class="fa fa-heartbeat fa-5x"></i>
        <div class="cards__grid-item_greeting">
            HEALTH
        </div>
    </div>
    <div class="cards__grid-item">
        <i class="fa fa-home fa-5x"></i>
        <div class="cards__grid-item_greeting">
            HOME
        </div>
    </div>
    <div class="cards__grid-item">
        <i class="fa fa-car fa-5x"></i>
        <div class="cards__grid-item_greeting">
            AUTO
        </div>
    </div>
    <div class="cards__grid-item">
        <i class="fa fa-landmark fa-5x"></i>
        <div class="cards__grid-item_greeting">
            FINANCES
        </div>
    </div>
    <div class="cards__grid-item">
        <i class="fa fa-calendar-alt fa-5x"></i>
        <div class="cards__grid-item_greeting">
            CALENDAR
        </div>
    </div>
    <div class="cards__grid-item">
        <i class="fa fa-tasks fa-5x"></i>
        <div class="cards__grid-item_greeting">
            TO-DO
        </div>
    </div>
</div>

<div class="main__grid-container__lists">
    <div class="lists__grid-item">
        *lists__grid-item*
    </div>
    <div class="lists__grid-item">
        *lists__grid-item*
    </div>
</div>
