@inherits LayoutComponentBase

<div class="grid-container__page">
    <div class="navbar">
        <NavMenu />
    </div>

    <div class="main">
            @Body
    </div>

    <div class="sidebar">
        <Sidebar />
    </div>
</div>
