<div class="navbar_left">
    *NAVBAR LEFT*
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            Health
        </div>
    </div>
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            Home
        </div>
    </div>
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            Auto
        </div>
    </div>
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            Finances
        </div>
    </div>
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            Calendar
        </div>
    </div>
    <div class="navbar_left_item">
        <div class="navbar_left_item_title">
            To-Do
        </div>
    </div>
</div>

<div class="navbar_center">
    *NAVBAR CENTER*
</div>

<div class="navbar_right">
    <div class="navbar_right_item">
        <i id="user-circle" class="fa fa-user-circle"></i>
    </div>
</div>

@code {
    @*private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*@
}
