<div class="navbar_left">
    *NAVBAR LEFT*
</div>

<div class="navbar_center">
    *NAVBAR CENTER*
</div>

<div class="navbar_right">
    *NAVBAR RIGHT
</div>

@code {
    @*private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }*@
}
