/* Debug Purpose Only */
div {
    outline: dotted;
}
/* Debug Purpose Only */

/* Icons */
#user-circle {
    font-size: 30px;
}

/* Animations */
@keyframes heartbeat {
    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}

/* Universal Browser Padding Reset */
* {
    margin: 0;
    padding: 0;
}

.grid-container__page {
    display: grid;
    height: 100vh;
    grid-template-columns: 90px 2fr 2fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "sidebar navbar navbar" "sidebar main main";
}

.sidebar {
    grid-area: sidebar;
}

.navbar {
    display: flex;
    justify-content: space-between;
    grid-area: navbar;
    background: #6200ea; /* material deep purple - primary */
}

.navbar_left {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.navbar_left_item {
    height: 60px;
}

.navbar_right_item {
    height: 60px;
}

.navbar_center {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.navbar_right {
    display: flex;
    align-items: center;
    color: whitesmoke;
}

.main {
    display: grid;
    grid-area: main;
}

.main__grid-container__cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    padding: 20px;
}

.cards__grid-item {
    text-align: center;
    background-color: #80808052;
    box-shadow: 2px 2px 4px #000000, 0.5px 0.5px 4px #000000;
    cursor: pointer;
    height: 175px;
    border-radius: 5px;
    transition: all 0.25s ease;
}

.cards__grid-item > i {
    margin-top: 35px;
}

.cards__grid-item_greeting {
    margin-top: 15px;
}

.cards__grid-item:hover {
    filter: dropshadow(4px 4px 12px #000000);
    background-color: #6200ea; /* material deep purple - primary */
    box-shadow: 4px 4px 6px #000000, 0.5px 0.5px 4px #000000;
    height: 220px;
    color: whitesmoke;
    font-size: larger;
    transform: scale(1);
    animation: heartbeat 1.75s infinite;
}

.cards__grid-item:hover .cards__grid-item_greeting {
    margin-top: 15px;
}

.cards__grid-item:hover > i {
    margin-top: 55px;
}

.main__grid-container__lists {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    padding: 20px;
}

.lists__grid-item {
    background-color: rebeccapurple;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
}

.car-wizard__grid-container {
    display: grid;
    grid-template-areas:
        "progress-area"
        "form-area";
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
}

.car-wizard__progress-area {
    display: flex;
    grid-area: progress-area;
    flex-direction: row;
    justify-content: space-between;
}

.card-wizard__progress-area__progress-item_active {
    background: #000000;
}

.card-wizard__progress-area__progress-item_completed {
    background: #E1E1E1;
}

.card-wizard__progress-area__progress-item {
    background: #FFFFFF;
}

.car-wizard__form-area {
    grid-area: form-area;
}